* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #fff6f0;
  color: #040404;
}

main {
  max-width: 1200px;
  margin: 30px auto;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: #fff2e4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 60px;
}


h1 {
  font-size: 40px;
  margin-bottom: 25px;
  color: #ed3a08;
  text-align: center;
  position: relative;
}

h1::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background-color: #f57606;
  margin: 12px auto 0;
  border-radius: 2px;
}

.pizza-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.pizza-card {
  width: 230px;
  height: 260px;
  background-color: #fff;
  border: 2px solid #f7610a;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, border 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.pizza-card:hover {
  border: 2px solid #ed3a08;
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(255, 153, 0, 0.2);
}

.pizza-img {
  width: 190px;
  height: 190px;
  margin: 20px auto 10px auto;
  border-radius: 10px;
  border: 2px solid #fc9e64;
  object-fit: cover;
  display: block;
}


.pizza-card h2 {
  font-size: 20px;
  color: #5e3023;
  margin: 14px 0;
  text-align: center;
  padding: 0 10px;
}

#no-results {
  display: none;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  color: #888;
}
