* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    border: #ddd 2px solid;
    border-radius: 4px;
    padding-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;
}

h1 {
    width: 100%;
    margin: 20px 0 30px 0;
    font-size: 40px;
    text-align: center;
}

.pizza-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin: 0 auto;
}

.pizza-card {
    width: 230px;
    height: 255px;
    border: #ddd 2px solid;
    border-radius: 2px;
    padding-bottom: 8px;
    cursor: pointer;
}

.pizza-card:hover{
    border: orange 2px solid;
}

.pizza-img{
    width: 190px;
    height: 190px;
    border: #ddd 2px solid;
    margin: 20px 20px 7px 20px;
}

h2{
    font-size: 20px;
}