* {
    margin: 0;
    padding: 0;
    color: #333;
}

body {
    margin: 8px !important;
}

/* Estilo do header */
header {
    width: 1200px;
    height: 500px;
    border: #ddd 2px solid;
    border-radius: 4px;
    margin: 26px auto 20px auto;
    background-image: url(../IMG/headerBack.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

header h1 {
    float: right;
    font-size: 96px;
    color: #333;
    max-width: 600px;
    margin: 50px 80px 0 0;
    text-align: center;
}

header img {
    float: left;
    width: 400px;
    height: 400px;
    margin: 50px 0 0 60px;
    border-radius: 8px;
}

header p {
    max-width: 450px;
    float: right;
    text-align: justify;
    font-size: 24px;
    margin: 20px 150px 0 0;
}

main > section {
    width: 1200px;
    margin: 40px auto;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 60px;
}

div.ingredientes {
    font-size: 24px;
    margin: 0 0 0 60px;
    max-width: 310px;
}

div.ingredientes h3 {
    margin: 0 0 0 -20px;
}

div.ingredientes ul{
    max-width: 310px;
}

div.tamanho {
    font-size: 24px;
    margin: 40px 0 0 40px;
}

div.tamanho button {
    width: 120px;
    height: 70px;
    margin: 0px 20px 0 0;
    font-size: 25px;
    cursor: pointer;
    border: 2px solid #ccc;
    background-color: #f4f4f4;
}

div.tamanho button.ativo {
    border: 3px solid #e44d26; /* destaque da borda ativa */
}

div.compra {
    margin: -34% 0 0 0;
    float: right;
    width: 400px;
    height: 350px;
    border: 1px solid #ddd;
    text-align: center;
}

div.compra h2 {
    font-size: 64px;
    margin-top: 8px;
}

div.compra button.space {
    margin: 20px 15px 0 0;
}

div.compra button.local {
    width: 160px;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #ccc;
}

div.compra button.addPedido {
    width: 200px;
    height: 75px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #ccc;
    margin: 25px 0 0 0;
}

div.entrega button.ativo {
    border: 3px solid #e44d26;
}